.import/
logs/
*.translation

# Platform specific metadata files
.DS_Store
thumbs.db
*.plist

*.pck
*.exe
*.zip
*.dmg
Spieldateien/*
screenshots/*
Sticker/*

device/Majorelle Mys 2.app/Contents/MacOS/Majorelle Mys
device/Majorelle Mys 2.app/Contents/PkgInfo
device/Majorelle Mys 2.app/Contents/Resources/icon.icns
device/Majorelle Mys.app/Contents/Resources/icon.icns
device/Majorelle Mys.app/Contents/PkgInfo
device/Majorelle Mys.app/Contents/MacOS/Majorelle Mys
